/*
Name: M_Zerie
*/
/* 
    Created on : Aug. 16, 2020, 9:49:27 p.m.
    Author     : Merehaw Zerie <merhawizerie@gmail.com>
*/


body{
    background-color:#2f3837;
}

.container
{
    border-radius:5px;
    width:20%;
    height:60%;
    background-color:#bab197;
    position:absolute;
    margin:100px 100px 100px 30px;
                
}


#innerContainer
{
    border-radius:5px;
    width:90%;
    height:90%;
    background-color:black;
    position:relative;
    margin:10px 10px 10px 10px;
                
}