body
{
background-color:white;
}
p
{
    color:black;
    margin: 200px;
    font-size: 100px;
}

.circle
{
    border:2px solid red;
    border-radius: 100;
    background-color: teal;
    width:100px;
    height:100px;
}