body
{
background-color:#dac3a5;

}

.circle
{
    border:2px solid red;
    border-radius: 100;
    background-color: teal;
    width:100px;
    height:100px;
}
.container
{
    width:800px;
    position:absolute;
    top:30%;
    right:100px;
    left:30%;
    align-content: center;

}

.student
{
    
    
    width:fit-content;
    height:auto;
    padding:10px;
    background-color:#19181a;
    color:black;
    font-size: 2em;
    display:inline-block;
    border-radius: 10px;
    margin:30px;
    text-align: center;
    
    
}
.student:hover
{
   
    top:-25px;
    left:-35px;
    bottom:-25px;
    right:-35px;
   
    z-index:999;
}

a
{color:#cebc81;}

.instructions
{
    width:fit-content;
    height: fit-content;
    color:white;
    align-self: auto;
    font-size: 2em;
}

.nicson
{
    background-color:#272727;
}

.saido
{
    background-color:#15252A;
}
.faytu
{
    background-color:#379683;
}
