html
{
    background:  linear-gradient( #45454520, #00000080), url("/rio.jpg")  no-repeat fixed;
    background-size:cover;
    min-height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container
{
   display: flex;
   align-self: center;
   width: auto;
   height:auto;
  
   align-items: center;
   justify-content: center;
}

.login{
    display: flex;
    min-width: 500px;
    min-height: 400px;
    margin-top:30%;
    background: linear-gradient(180deg, #e0e0e0 0%, #ffffff 100%);
    background-size: cover;
    border-radius: 5px;
}


